<h2>Editor</h2>

<div class="container">
  

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"> 
      <agm-info-window> 
          <form class="form-signin"  #signupForm="ngForm">
              <h2 class="form-signin-heading">Inserisci informazioni</h2>
              <label for="inputEmail" class="sr-only">id</label>
              <input type="email" class="form-control" placeholder="0"  name="username" required/>
              <label for="inputPassword" class="sr-only">name</label>
              <input type="password" class="form-control" placeholder="Via dalle Palle"  name="password" required/>
              <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!signupForm.form.valid">Submit</button>
            </form>

      </agm-info-window>
    </agm-marker>
  </agm-map>
 
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div>
</div>