<!-- aggiunto in prova -->
<script>
var x = document.getElementById("demo");
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude; 
}
</script>

<!-- fine prova -->

<h2>My Places</h2>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng">
    <agm-info-window>MESSAGGIO 1</agm-info-window>
  </agm-marker>
</agm-map>
<div>
  <label>Place name:
    <input #placeName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(placeName.value); placeName.value=''">
    add
  </button>
</div>

<ul class="places">
  <li *ngFor="let place of places">
    <a routerLink="/detail/{{place.id}}">
      <span class="badge">{{place.id}}</span> {{place.name}}
    </a>
    <button class="delete" title="delete place"
      (click)="delete(place)">x</button>
  </li>
</ul>
